-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: enchere_a_porter
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `achats`
--

DROP TABLE IF EXISTS `achats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `achats` (
  `id_achat` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_vente_article` int(10) unsigned NOT NULL,
  `id_utilisateur` int(10) unsigned NOT NULL,
  `id_enchere` int(10) unsigned NOT NULL,
  `montant_final` decimal(10,2) NOT NULL,
  `confirme` tinyint(1) NOT NULL DEFAULT 0,
  `date_confirmation` datetime DEFAULT NULL,
  PRIMARY KEY (`id_achat`),
  UNIQUE KEY `id_vente_article` (`id_vente_article`),
  KEY `id_utilisateur` (`id_utilisateur`),
  KEY `id_enchere` (`id_enchere`),
  CONSTRAINT `achats_ibfk_1` FOREIGN KEY (`id_vente_article`) REFERENCES `vente_articles` (`id_vente_article`),
  CONSTRAINT `achats_ibfk_2` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`),
  CONSTRAINT `achats_ibfk_3` FOREIGN KEY (`id_enchere`) REFERENCES `encheres` (`id_enchere`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `achats`
--

LOCK TABLES `achats` WRITE;
/*!40000 ALTER TABLE `achats` DISABLE KEYS */;
INSERT INTO `achats` VALUES (1,1,3,2,0.60,0,NULL);
/*!40000 ALTER TABLE `achats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `articles`
--

DROP TABLE IF EXISTS `articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `articles` (
  `id_article` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `taille` varchar(20) DEFAULT NULL,
  `etat` enum('bon','tr├¿s bon','comme neuf') NOT NULL DEFAULT 'bon',
  `prix_origine` decimal(10,2) NOT NULL,
  `photo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_article`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articles`
--

LOCK TABLES `articles` WRITE;
/*!40000 ALTER TABLE `articles` DISABLE KEYS */;
INSERT INTO `articles` VALUES (1,'test','test','S','bon',12.00,'uploads/articles/1772565212_26580a7c3c0487461b64.jpg'),(2,'polat','efzef','S','tr├¿s bon',29.99,'uploads/articles/1773262370_07ed8b4ee2046f7102c1.png');
/*!40000 ALTER TABLE `articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encheres`
--

DROP TABLE IF EXISTS `encheres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `encheres` (
  `id_enchere` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_vente_article` int(10) unsigned NOT NULL,
  `id_utilisateur` int(10) unsigned NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `est_annulee` tinyint(1) NOT NULL DEFAULT 0,
  `date_enchere` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_enchere`),
  KEY `id_vente_article` (`id_vente_article`),
  KEY `id_utilisateur` (`id_utilisateur`),
  CONSTRAINT `encheres_ibfk_1` FOREIGN KEY (`id_vente_article`) REFERENCES `vente_articles` (`id_vente_article`),
  CONSTRAINT `encheres_ibfk_2` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encheres`
--

LOCK TABLES `encheres` WRITE;
/*!40000 ALTER TABLE `encheres` DISABLE KEYS */;
INSERT INTO `encheres` VALUES (1,1,3,0.20,0,'2026-03-03 20:15:17'),(2,1,3,0.60,0,'2026-03-03 20:15:23');
/*!40000 ALTER TABLE `encheres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscriptions`
--

DROP TABLE IF EXISTS `inscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscriptions` (
  `id_inscription` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_vente` int(10) unsigned NOT NULL,
  `id_utilisateur` int(10) unsigned NOT NULL,
  `date_inscription` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_inscription`),
  UNIQUE KEY `uq_inscription` (`id_vente`,`id_utilisateur`),
  KEY `id_utilisateur` (`id_utilisateur`),
  CONSTRAINT `inscriptions_ibfk_1` FOREIGN KEY (`id_vente`) REFERENCES `ventes` (`id_vente`),
  CONSTRAINT `inscriptions_ibfk_2` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateurs` (`id_utilisateur`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscriptions`
--

LOCK TABLES `inscriptions` WRITE;
/*!40000 ALTER TABLE `inscriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mails_log`
--

DROP TABLE IF EXISTS `mails_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mails_log` (
  `id_mail` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_vente` int(10) unsigned NOT NULL,
  `type_mail` enum('ouverture','rappel_2h','gagnant') NOT NULL,
  `destinataire` varchar(255) NOT NULL,
  `statut` enum('envoye','echec') NOT NULL DEFAULT 'envoye',
  `envoye_le` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_mail`),
  KEY `id_vente` (`id_vente`),
  CONSTRAINT `mails_log_ibfk_1` FOREIGN KEY (`id_vente`) REFERENCES `ventes` (`id_vente`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mails_log`
--

LOCK TABLES `mails_log` WRITE;
/*!40000 ALTER TABLE `mails_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `mails_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id_role` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `libelle` enum('secretaire','benevole','habitant') NOT NULL,
  PRIMARY KEY (`id_role`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'secretaire'),(2,'benevole'),(3,'habitant');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateurs` (
  `id_utilisateur` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_role` int(10) unsigned NOT NULL,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `est_habitant` tinyint(1) NOT NULL DEFAULT 0,
  `est_actif` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_utilisateur`),
  UNIQUE KEY `email` (`email`),
  KEY `id_role` (`id_role`),
  CONSTRAINT `utilisateurs_ibfk_1` FOREIGN KEY (`id_role`) REFERENCES `roles` (`id_role`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vente_articles`
--

DROP TABLE IF EXISTS `vente_articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vente_articles` (
  `id_vente_article` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_vente` int(10) unsigned NOT NULL,
  `id_article` int(10) unsigned NOT NULL,
  `id_benevole` int(10) unsigned NOT NULL,
  `prix_depart` decimal(10,2) NOT NULL DEFAULT 0.20,
  PRIMARY KEY (`id_vente_article`),
  UNIQUE KEY `uq_vente_article` (`id_vente`,`id_article`),
  KEY `id_article` (`id_article`),
  KEY `id_benevole` (`id_benevole`),
  CONSTRAINT `vente_articles_ibfk_1` FOREIGN KEY (`id_vente`) REFERENCES `ventes` (`id_vente`),
  CONSTRAINT `vente_articles_ibfk_2` FOREIGN KEY (`id_article`) REFERENCES `articles` (`id_article`),
  CONSTRAINT `vente_articles_ibfk_3` FOREIGN KEY (`id_benevole`) REFERENCES `utilisateurs` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vente_articles`
--

LOCK TABLES `vente_articles` WRITE;
/*!40000 ALTER TABLE `vente_articles` DISABLE KEYS */;
INSERT INTO `vente_articles` VALUES (1,1,1,1,0.20);
/*!40000 ALTER TABLE `vente_articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventes`
--

DROP TABLE IF EXISTS `ventes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ventes` (
  `id_vente` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_secretaire` int(10) unsigned NOT NULL,
  `titre` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `date_debut` datetime NOT NULL,
  `date_fin` datetime NOT NULL,
  `etat` enum('a_venir','en_cours','cloturee') NOT NULL DEFAULT 'a_venir',
  `qrcode` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_vente`),
  KEY `id_secretaire` (`id_secretaire`),
  CONSTRAINT `ventes_ibfk_1` FOREIGN KEY (`id_secretaire`) REFERENCES `utilisateurs` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventes`
--

LOCK TABLES `ventes` WRITE;
/*!40000 ALTER TABLE `ventes` DISABLE KEYS */;
INSERT INTO `ventes` VALUES (1,1,'test','test','2026-03-03 20:12:00','2026-03-04 09:00:00','cloturee',NULL,'2026-03-03 20:11:26');
/*!40000 ALTER TABLE `ventes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-11 22:21:03
